<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="greeterExtension" name="Greet Extension" schema="schema/greeterExtension.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.xyz.rcp.firstapplication.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.xyz.rcp.firstapplication.Perspective"
            fixed="false"
            id="com.xyz.rcp.firstapplication.perspective"
            name="RCP Perspective">
      </perspective>
   </extension>
   <extension
         id="Product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.xyz.rcp.firstapplication.application"
            name="FirstApplication">
         <property
               name="appName"
               value="FirstApplication">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.xyz.rcp.firstapplication.view.tableviewer.TableViewerView07"
            id="com.xyz.rcp.firstapplication.tableviewer"
            name="TableView"
            restorable="true">
      </view>
      <view
            class="com.xyz.rcp.firstapplication.view.tableviewer.ChangeView"
            id="com.xyz.rcp.firstapplication.tableviewer.changeview"
            name="ChangeView"
            restorable="true">
      </view>
      <view
            class="com.xyz.rcp.firstapplication.view.treeviewer.TreeViewerView"
            icon="icons/org_16.png"
            id="com.xyz.rcp.firstapplication.treeviewerview"
            name="TreeNavigator"
            restorable="true">
      </view>
      <view
            class="com.xyz.rcp.firstapplication.view.treeviewer.EmployeeDetailView"
            icon="icons/person_16.png"
            id="com.xyz.rcp.firstapplication.empdetailsview"
            name="Employee Detail"
            restorable="true">
      </view>
      <view
            class="com.xyz.rcp.firstapplication.view.IndustryDnDView"
            id="com.xyz.rcp.firstapplication.industrydndview"
            name="Industry Dnd View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.xyz.rcp.firstapplication.perspective">
         <view
               id="com.xyz.rcp.firstapplication.tableviewer"
               minimized="false"
               relationship="bottom"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="com.xyz.rcp.firstapplication.treeviewerview"
               minimized="false"
               ratio=".2f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="com.xyz.rcp.firstapplication.empdetailsview"
               minimized="false"
               relationship="stack"
               relative="com.xyz.rcp.firstapplication.tableviewer"
               visible="true">
         </view>
         <view
               id="com.xyz.rcp.firstapplication.industrydndview"
               minimized="false"
               relationship="stack"
               relative="com.xyz.rcp.firstapplication.empdetailsview"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <command
               commandId="com.xyz.rcp.firstapplication.tableviewer.commands.Print"
               id="com.xyz.rcp.firstapplication.tableviewer.commands.Print"
               label="Print Model"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="oneElementSelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.xyz.rcp.firstapplication.tableviewer.commands.AddPerson"
               id="com.xyz.rcp.firstapplication.tableviewer.commands.AddPerson"
               label="Add Person"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="oneElementSelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.xyz.rcp.firstapplication.tableviewer.commands.DeletePerson"
               id="com.xyz.rcp.firstapplication.tableviewer.commands.DeletePerson"
               label="Delete Person"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="oneElementSelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.xyz.rcp.firstapplication.tableviewer.commands.CopyPersonClipboard"
               defaultHandler="de.vogella.jface.tableviewer.commands.CopyPersonClipboard"
               id="com.xyz.rcp.firstapplication.tableviewer.commands.CopyPersonClipboard"
               label="Copy to Clipboard"
               name="Copy Person to Clipboard">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="oneElementSelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.window.preferences"
               label="Preferences"
               style="push">
         </command>
         <command
               commandId="com.xyz.rcp.firstapplication.showPreferenceValues"
               label="showPreferenceValues"
               style="push">
         </command>
         <command
               commandId="com.xyz.rcp.firstapplication.activate"
               label="Activate View"
               style="push">
         </command>
         <command
               commandId="com.xyz.rcp.firstapplication.deactivate"
               label="Deactivate View"
               style="push">
         </command>
         <command
               commandId="com.xyz.rcp.firstapplication.greetercommand"
               label="Greet Me"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.xyz.rcp.firstapplication.wizard.toolbar2"
               label="PullDown">
            <command
                  commandId="com.xyz.rcp.firstapplication.wizard.DropDown"
                  icon="icons/alt_window_16.gif"
                  label="PullDownCommand"
                  style="pulldown">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="menu:com.xyz.rcp.firstapplication.wizard.DropDown">
         <command
               commandId="com.xyz.rcp.firstapplication.PrintTree"
               icon="icons/alt_window_16.gif"
               label="PrintTree"
               style="push">
         </command>
         <command
               commandId="com.xyz.rcp.firstapplication.AddPersonInPullDown"
               icon="icons/alt_window_16.gif"
               label="AddPersonInPullDown"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.xyz.firstapplication.wizard.PrintModelHandler"
            id="com.xyz.rcp.firstapplication.PrintTree"
            name="PrintTree">
      </command>
      <command
            defaultHandler="com.xyz.rcp.firstapplication.tableviewer.commands.Print"
            id="com.xyz.rcp.firstapplication.tableviewer.commands.Print"
            name="Print">
      </command>
      <command
            id="com.xyz.rcp.firstapplication.tableviewer.commands.AddPerson"
            name="Add Person">
      </command>
      <command
            defaultHandler="com.xyz.rcp.firstapplication.tableviewer.commands.DeletePerson"
            id="com.xyz.rcp.firstapplication.tableviewer.commands.DeletePerson"
            name="Delete Person">
      </command>
      <command
            defaultHandler="com.xyz.rcp.firstapplication.tableviewer.commands.CopyPersonClipboard"
            id="com.xyz.rcp.firstapplication.tableviewer.commands.CopyPersonClipboard"
            name="Copy Person to Clipboard">
      </command>
      <command
            defaultHandler="com.xyz.rcp.firstapplicaiton.preference.ShowPreferenceValues"
            id="com.xyz.rcp.firstapplication.showPreferenceValues"
            name="showPreferenceValues">
      </command>
      <command
            defaultHandler="com.xyz.rcp.firstapplication.tableviewer.commands.CallEditor"
            id="com.xyz.rcp.firstapplication.openpersoneditor"
            name="Open PersonEditor">
      </command>
      <command
            defaultHandler="com.xyz.rcp.firstapplication.activities.Activate"
            id="com.xyz.rcp.firstapplication.activate"
            name="Activate">
      </command>
      <command
            defaultHandler="com.xyz.rcp.firstapplication.activities.DeActivate"
            id="com.xyz.rcp.firstapplication.deactivate"
            name="Deactivate">
      </command>
      <command
            defaultHandler="com.xyz.rcp.firstapplication.extensionpoint.EvaluateContributionsHandler"
            id="com.xyz.rcp.firstapplication.greetercommand"
            name="Greet Me">
      </command>
      <command
            defaultHandler="com.xyz.firstapplication.wizard.DropDownHandler"
            id="com.xyz.rcp.firstapplication.wizard.DropDown"
            name="DropDown">
      </command>
      <command
            defaultHandler="com.xyz.rcp.firstapplication.tableviewer.commands.AddPerson"
            id="com.xyz.rcp.firstapplication.AddPersonInPullDown"
            name="AddPersonInPullDown">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.xyz.rcp.firstapplication.editor.MyPersonEditor"
            default="false"
            id="com.xyz.rcp.firstapplication.personeditor"
            name="Person Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.xyz.rcp.firstapplicaiton.preference.MyPreferencePage"
            id="com.xyz.rcp.firstapplication.preferencepage"
            name="My Preference">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.xyz.rcp.firstapplicaiton.preference.MyInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="com.xyz.rcp.firstapplication.hideviewactivity"
            name="Hide a View Activity">
      </activity>
      <activityPatternBinding
            activityId="com.xyz.rcp.firstapplication.hideviewactivity"
            isEqualityPattern="false"
            pattern="com.xyz.rcp.firstapplication/com.xyz.rcp.firstapplication.industrydndview">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.xyz.rcp.firstapplication.hideviewactivity"
            isEqualityPattern="true"
            pattern="com.xyz.rcp.firstapplication/com.xyz.rcp.firstapplication.industrydndview">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.core.resources.refreshProviders">
      <refreshProvider
            class="org.eclipse.core.internal.resources.refresh.win32.Win32RefreshProvider"
            name="win32MonitorFactoryName">
      </refreshProvider>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="oneElementSelected">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.xyz.rcp.firstapplication.tableviewer.commands.AddPerson"
            commandId="com.xyz.rcp.firstapplication.tableviewer.commands.AddPerson">
         <enabledWhen>
            <reference
                  definitionId="oneElementSelected">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.xyz.rcp.firstapplication.tableviewer.commands.DeletePerson"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+1">
      </key>
      <scheme
            id="myscheme"
            name="myscheme">
      </scheme>
      <key
            commandId="com.xyz.rcp.firstapplication.AddPersonInPullDown"
            schemeId="myscheme"
            sequence="M1+Q">
      </key>
      <key
            commandId="com.xyz.rcp.firstapplication.PrintTree"
            schemeId="myscheme"
            sequence="M1+P">
      </key>
      <key
            commandId="com.xyz.rcp.firstapplication.tableviewer.commands.AddPerson"
            schemeId="myscheme"
            sequence="M1+N">
      </key>
   </extension>

</plugin>
